* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
    background: var(--bg);
  color: var(--text);
} 
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #ccc;
  color: black;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav a{
      text-decoration: none;
      color: black;
      transition: 0.3s;
    }
nav a:hover {
color: blue;
}
.hero {
  display: flex;
  align-items: flex-start
  justify-content: space-around;
  padding: 6rem;
  background: #eee;
  color: black;
}
.left img {
   width: 25rem;
  height: 25rem;       /* important pour un cercle parfait */
  border-radius: 50%;  /* rend l'image ronde */
  object-fit: cover;   /* évite que l'image soit déformée */
}

 .btn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: column;
}
.cv {
  background: orange;
}

.projets {
  background: red;
  color: white;
}

.contact {
  background: lightblue;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 20px; /* espace entre les boutons */
  margin-top: 20px;
}
.btn:hover {
  transform: scale(1.1);
}
footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: orange;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
